.pocketLike {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	opacity: .9;
}

.pocketLike:hover {
	opacity: 1;
}
